body{
margin:0;
font-family:Arial;
background:#0b3d2e;
color:white;
text-align:center;
}

header{
background:black;
padding:25px;
}

header h1{
color:gold;
font-size:36px;
}

.menu{
margin-top:40px;
}

.menu a{
display:block;
width:220px;
margin:10px auto;
padding:14px;
background:gold;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.card{
background:#145a32;
padding:20px;
border-radius:10px;
margin:20px auto;
width:80%;
}

input{
width:90%;
padding:10px;
margin:6px;
border-radius:5px;
border:none;
}

button{
padding:12px 18px;
background:gold;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

table{
margin:auto;
border-collapse:collapse;
width:80%;
}

td,th{
border:1px solid white;
padding:10px;
}